backend:
  url: {{.BackendURL}}
  token: "{{.Token}}"

agent:
  nickname: {{.Nickname}}
  interval_sec: 60
  awg_iface: {{.AWGIface}}
  expected_exit_ip: {{.ExpectedExitIP}}

awg_manager:
  url: http://127.0.0.1:2222

checks:
  awg:
    handshake_max_age_sec: 180

  dns:
    auto_discover: true
    test_domain: "example.com"
    fail_threshold: 2

state:
  path: /opt/var/wg-monitor/state.json
